@{
    ViewData["Title"] = "Start";
}
<br />
<h1>@ViewData["Title"]</h1>
<br />

<p>
    Detta är startsidan. Denna webbplats är skapad av Malin Svensson under jan-feb 2021.
    Uppgiften är moment 2 i kursen "ASP.NET med C#" i webbutvecklingsprogrammet. <br />
</p>

<!-- Get ViewBag text -->
<p>@ViewBag.text <a href="https://www.miun.se/webbutveckling">Webbutveckling, 120hp</a></p>

<!-- Get ViewData text -->
<p>@ViewData["Message"].</p>




