@{
    ViewData["Title"] = "Information";
}
<br />
<h1>@ViewData["Title"]</h1>
<br />

<p>
    Hej och välkommen. Jag heter Malin Svensson, är 22 år gammal (född 98) och bor i Sundsvall. Jag försöker just nu att lära mig ASP.NET och MVC, därav skapas denna webbplatsen.  <br /> <br />
</p>

<!-- Get ViewBag text -->
<h6>@ViewBag.text</h6>